flows (1).json
[
    {
        "id": "7cf6fdbcc6aa01ac",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e4ab3f63d250e99",
        "type": "mqtt in",
        "z": "7cf6fdbcc6aa01ac",
        "name": "",
        "topic": "sensor/presion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee537aff8404c0d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "2cfb8389f0598a4c"
            ]
        ]
    },
    {
        "id": "9aca6197e995101b",
        "type": "debug",
        "z": "7cf6fdbcc6aa01ac",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "a016ce170452eb10",
        "type": "mqtt in",
        "z": "7cf6fdbcc6aa01ac",
        "name": "",
        "topic": "sensor/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee537aff8404c0d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "354a3133e0d89998"
            ]
        ]
    },
    {
        "id": "1dee183707f1963c",
        "type": "mqtt in",
        "z": "7cf6fdbcc6aa01ac",
        "name": "",
        "topic": "sensor/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee537aff8404c0d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "3cf35db630d28bb4"
            ]
        ]
    },
    {
        "id": "3a3afda56d7870b9",
        "type": "debug",
        "z": "7cf6fdbcc6aa01ac",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "799e6314b8780ff0",
        "type": "debug",
        "z": "7cf6fdbcc6aa01ac",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "3cf35db630d28bb4",
        "type": "ui_gauge",
        "z": "7cf6fdbcc6aa01ac",
        "name": "guage",
        "group": "8c41cee2fd2d9f3d",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "354a3133e0d89998",
        "type": "ui_chart",
        "z": "7cf6fdbcc6aa01ac",
        "name": "cart",
        "group": "9d741792dc106c46",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2cfb8389f0598a4c",
        "type": "ui_gauge",
        "z": "7cf6fdbcc6aa01ac",
        "name": "guage",
        "group": "8c41cee2fd2d9f3d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "ee537aff8404c0d5",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8c41cee2fd2d9f3d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b9d1c6d13bf77acb",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "9d741792dc106c46",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "b9d1c6d13bf77acb",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "b9d1c6d13bf77acb",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]